@import "tailwindcss";

@theme {
    --animate-marquee: marquee 25s linear infinite;
    --animate-marquee2: marquee2 25s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @keyframes marquee2 {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes move {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 40px 40px;
        }
    }

    @keyframes patternFloat {
        0% {
            background-position: 0 0, 0 0, 0 0, 1em 1em;
        }
        100% {
            background-position: 2em 2em, 2em 2em, 2em 2em, 3em 3em;
        }
    }

    --breakpoint-xs: 30rem;
    --color-marzipan: #f8d3a0; /* Use this CSS variable directly */
    --color-tangelo-400: #ff661f;
    --color-tangelo-500: #fd5200;
    --color-tangelo-600: #e04700; /* Use this CSS variable directly */
}

.bg-squares {
    background-color: #111111;
    background-image: linear-gradient(
        32deg,
        rgba(8, 8, 8, 0.74) 30px,
        transparent
    );
    background-size: 60px 60px;
}

.bg-hive-black {
    width: 100%;
    height: 100%;
    --s: 25px; /* control the size */

    --c: #0000, #191a19 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
        var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
        var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}

.bg-moving-lines {
    background-color: #111111;
    background-image: linear-gradient(
        32deg,
        rgba(8, 8, 8, 0.74) 30px,
        transparent
    );
    background-size: 60px 60px;
    /* Basic dimensions and centering */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
        135deg,
        #121212 25%,
        #1a1a1a 25%,
        #1a1a1a 50%,
        #121212 50%,
        #121212 75%,
        #1a1a1a 75%,
        #1a1a1a
    );
    background-size: 40px 40px;

    /* Animation */
    animation: move 4s linear infinite;
}

.devicon-devicon-plain {
    max-width: 2em;
}

.sr-only {
    @apply absolute border-0 p-0 m-0 h-px w-px overflow-hidden  whitespace-nowrap;
}

body {
    /* Use the CSS variable instead of @apply */
    @apply font-sans  break-words;
    /* background-image: url("/images/bg_texture.jpg"); */
}
//clip-path[inset(50%)]
