@import "tailwindcss";

@theme {
    --breakpoint-xs: 30rem;
    --color-marzipan: #f8d3a0; /* Use this CSS variable directly */
    --color-tangelo-400: #ff661f;
    --color-tangelo-500: #fd5200;
    --color-tangelo-600: #e04700; /* Use this CSS variable directly */
}

body {
    /* Use the CSS variable instead of @apply */
    @apply font-sans m-0 p-0 text-left text-white text-base leading-7 break-words;
    background-image: url("/images/bg_texture.jpg");
}

.sr-only {
    @apply absolute border-0 p-0 m-0 h-px w-px overflow-hidden  whitespace-nowrap;
}

//clip-path[inset(50%)]
