---
import { Button, ClipboardButton } from '@/components/react';
import { CURRENT_EMPLOYMENT_NAME, CURRENT_EMPLOYMENT_URL } from '@/consts';
---

<div class='flex flex-col gap-2'>
    <div class='my-6 h-[1px] w-full bg-neutral-700'></div>
    <div>
        <p class='text-lg leading-none text-pretty text-neutral-300'>
            Currently employed at:<a href={CURRENT_EMPLOYMENT_URL}
                ><span class='text-neutral-200 font-semibold'
                    >{` ${CURRENT_EMPLOYMENT_NAME}`}</span
                ></a
            >
        </p>
    </div>
    <div class='my-6 h-[1px] w-full bg-neutral-700'></div>
    <div>
        <ClipboardButton client:visible label='bernardomoschen.dev@gmail.com' />
        <!-- <Button label='linkedin' /> -->
    </div>
</div>
