---
import { Button, ClipboardButton } from '@/components/react';
import { CURRENT_EMPLOYMENT_NAME, CURRENT_EMPLOYMENT_URL } from '@/consts';
---

<div>
    <ClipboardButton client:visible label='bernardomoschen.dev@gmail.com' />
    <!-- <Button label='linkedin' /> -->
</div>
