---

---

<div class='flex flex-col'>
  <div class='flex flex-col gap-4'>
    <div class='py-4 border-b border-neutral-500'>
      <h2 class='text-2xl font-bold text-white'>
        Code that feels good to read. Apps that feel good to use.
      </h2>
    </div>
    <p class='text-xl font-light text-neutral-400'>
      I like to build useful stuff, break things on purpose, and obsess over
      clean code and clever UIs.
    </p>
  </div>
</div>
