---
import Portrait from '@/assets/portrait_me.jpg';
import { Picture } from 'astro:assets';
import CTA from './CTA.astro';
import Icon from '@/components/react/Icon';
import { CURRENT_EMPLOYMENT_NAME, CURRENT_EMPLOYMENT_URL } from '@/consts';
---

<div id='intro' class='relative mr-6 flex'>
    <div
        class='absolute inset-0 z-0 flex h-full max-h-full flex-1 -rotate-2 gap-1 opacity-80'
    >
        <div
            class='max-w-full flex-1 rounded-xl bg-neutral-800 p-2 shadow-sm shadow-black'
        >
        </div>
    </div>
    <Icon
        name='diamondOrigami'
        className='h-20 w-20 text-tangelo-400 sticker absolute top-14 -right-8 z-40 -rotate-12 transition-transform hover:scale-110 hover:-rotate-10 active:translate-y-1 active:scale-105 md:top-28'
    />
    <Icon
        name='planeOrigami'
        className='h-16 w-16 text-tangelo-400  absolute right-4 -bottom-4 z-40 transition-transform hover:scale-110 -rotate-16 hover:-rotate-10 active:translate-y-1 active:scale-105 md:-bottom-4'
    />
    <div class='relative z-10 flex h-full max-h-full flex-1 gap-1'>
        <div
            class='max-w-full flex-1 rounded-xl bg-neutral-800 p-2 text-white shadow-sm shadow-black'
        >
            <div class='flex h-full flex-col rounded-lg bg-neutral-900 p-8'>
                <div class='flex flex-col gap-6'>
                    <div>
                        <h2
                            class='max-w-md pr-6 text-2xl leading-[1.125] font-bold tracking-tight text-balance'
                        >
                            <Icon
                                name='terminalOutlined'
                                className='mr-1.5 inline-block h-5 -translate-y-0.5 text-tangelo-400'
                            />
                            Code that feels good to read.
                            <br /> Apps that feel good to use.
                        </h2>
                    </div>
                    <div
                        class='flex flex-col gap-4 text-lg font-light text-neutral-300 leading-tight text-balance'
                    >
                        <p>
                            Since 2019 bringing life to scalable, maintainable
                            solutions that deliver measurable business impact.
                        </p>
                        <p>
                            Mostly advocating in the TypeScript multiverse:
                            React, Node and Tailwind are my go-to weapons of
                            choice.
                            <small class='text-neutral-500'>
                                Hello there, Astro :)
                            </small>
                        </p>
                    </div>
                </div>
                <div class='flex flex-col gap-2'>
                    <div class='my-6 h-[1px] w-full bg-neutral-700'></div>
                    <div>
                        <p
                            class='text-md leading-none text-pretty text-neutral-300'
                        >
                            <Icon
                                name='briefcase'
                                className='mr-0.5 inline-block h-5 -translate-y-0.5 text-tangelo-400'
                            />
                            Currently employed at:<a
                                href={CURRENT_EMPLOYMENT_URL}
                                ><span class='text-neutral-200 font-semibold'
                                    >{` ${CURRENT_EMPLOYMENT_NAME}`}</span
                                ></a
                            >
                        </p>
                    </div>
                    <div class='my-6 h-[1px] w-full bg-neutral-700'></div>
                    <CTA />
                </div>
            </div>
        </div>
    </div>
</div>
