---
import CTA from './CTA.astro';
---

<div class='flex flex-col'>
    <div class='flex flex-col gap-6'>
        <div>
            <h2 class='text-2xl font-bold text-white'>
                Code that feels good to read.
                <br /> Apps that feel good to use.
            </h2>
        </div>
        <div
            class='flex flex-col gap-4 text-lg font-light text-neutral-300 leading-tight text-balance'
        >
            <p>
                Since 2019 bringing life to scalable, maintainable solutions
                that deliver measurable business impact.
            </p>
            <p>
                Mostly advocating in the TypeScript multiverse: React, Node and
                Tailwind are my go-to weapons of choice.
                <small class='text-neutral-500'> Hello there, Astro :) </small>
            </p>
        </div>
    </div>
    <CTA />
</div>
