---
import Portrait from '@/assets/portrait_me.jpg';
import { Picture } from 'astro:assets';
---

<div id='who' class='relative mr-6 flex'>
    <div
        class='absolute inset-0 z-0 flex h-full max-h-full flex-1 -rotate-2 gap-1 opacity-80'
    >
        <div
            class='group max-w-full flex-1 rounded-xl bg-neutral-800 p-2 text-neutral-400 shadow-sm shadow-black hover:text-neutral-500'
        >
        </div>
    </div>
    <div class='relative z-10 flex h-full max-h-full flex-1 gap-1'>
        <div
            class='group max-w-full flex-1 rounded-xl bg-neutral-800 p-2 text-white shadow-sm shadow-black hover:text-neutral-500'
        >
            <div class='flex h-full flex-row-reverse rounded-lg bg-neutral-900'>
                <div
                    class='fade-in-up relative -mr-10 flex w-1/2 max-w-56 items-center justify-center p-4'
                >
                    <Picture
                        alt='Bernardo            Moschen'
                        class='-rotate-3 rounded-lg border-[6px] border-white shadow-sm shadow-black transition-transform hover:scale-105 hover:-rotate-1'
                        src={Portrait}
                        width={500}
                        height={600}
                    />
                </div>
                <div class='flex flex-1 shrink-0 flex-col p-8 pr-4'>
                    <div
                        class='fade-in-up text-2xl font-bold tracking-tight text-white'
                    >
                        Bernardo Moschen
                    </div>
                    <div
                        class='fade-in-up my-4 h-[1px] w-full bg-neutral-700'
                        style='transform: none; opacity: 1;'
                    >
                    </div>
                    <p
                        class='fade-in-up text-lg leading-snug text-balance text-neutral-400'
                    >
                        I like to build useful stuff, break things on purpose,
                        and obsess over clean code and clever UIs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
