---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { LocationCard } from '@/components/react';
import Card from '@/components/Card.astro';
import Who from './components/Who.astro';
import Intro from './components/Intro.astro';
---

<!doctype html>
<html lang='en'>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class='bg-cover bg-fixed backdrop-blur-[2px]'>
        <Header />
        <main class='flex flex-col pt-20 mt-6 px-4 h-full w-full gap-4'>
            <section class='grid gap-6 grid-cols-12'>
                <Card
                    classname='overflow-visible row-start-3 col-span-12 md:col-span-6 row-span-1'
                >
                    <Who />
                </Card>
                <Card
                    classname='col-span-12 md:col-span-6 row-span-6 overflow-visible'
                >
                    <Intro />
                </Card>
                <div class='row-start-4 col-start-2 md:col-start-4'>
                    <LocationCard
                        client:visible
                        countryCode='BR'
                        location='Porto Alegre'
                        temperature={0}
                        weather='cloudy'
                    />
                </div>
            </section>
            <section class='grid gap-6 grid-cols-12'>
                <Card classname='overflow-visible col-span-12'>
                    <div
                        class='flex flex-col gap-2 items-center justify-center'
                    >
                        <p class='text-xl text-neutral-300'>Latest blog post</p>
                        <div class='bg-neutral-800 text-5xl'>
                            <div>WIP</div>
                        </div>
                    </div>
                </Card>
            </section>
            <Footer />
        </main>
    </body>
</html>
