---
interface Props {
    title?: string;
    body?: string;
}

const { title, body } = Astro.props;
---

<div
    class='relative z-10 h-full rounded-lg border-b border-neutral-700 bg-linear-30 from-neutral-900 via-neutral-900 to-neutral-950 p-6'
>
    {title && <h2 class='z-20 m-0 text-xl font-bold'>{title}</h2>}
    {body && <p class='m-0 text-base font-light'>{body}</p>}
    <slot />
</div>
