---
const today = new Date();
import Icon from './react/Icon';
import { GITHUB_URL, LINKEDIN_URL } from '../consts';
---

<footer
    class='flex flex-row justify-between items-center gap-4 px-4 py-4 bg-neutral-800/70 inset-shadow-xs shadow-sm shadow-neutral-950/80 inset-shadow-white/10 backdrop-blur-xs'
>
    <div class='flex flex-row gap-2 text-sm text-neutral-300'>
        <span>&copy; {today.getFullYear()} Bernardo Moschen. </span>
        <span>All rights reserved.</span>
    </div>
    <div class='flex flex-row gap-4'>
        <a href={LINKEDIN_URL} target='_blank'>
            <span class='sr-only'>Follow me on LinkedIn</span>
            <Icon name='linkedin' className='h-8 w-8' />
        </a>

        <a href={GITHUB_URL} target='_blank'>
            <span class='sr-only'>Find me on GitHub</span>
            <Icon name='github' className='h-8 w-8' />
        </a>
    </div>
</footer>
